#ticketForm {
    max-width: 500px;
    margin: 0 auto;
}

#qrCodeContainer {
    margin-top: 20px;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    }
      
.navbar {
    display: flex;
    align-items: right;
    justify-content: right;
    background-color: #000;
    padding: 10px 20px;
    }

    .logo {
        height: 50px;
        position: absolute;
        left: 20px;
        }

    .nav-links {
        list-style: none;
        padding: 0;
        display: flex;
        margin-right: 15px;
        }

    .nav-links li {
        margin: 0 15px;
        }
    .nav-links a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 18px;
         }

.size {
    width: 33.33%;
    height: 25%;
}